	ul#demo-block{ margin:0 15px 15px 15px; }
	
		ul#demo-block li{ margin:0 0 10px 0; padding:10px; display:inline; float:left; clear:both; color:#aaa; background:url('img/bg-black.png'); font:11px Helvetica, Arial, sans-serif; }
		ul#demo-block li a{ color:#eee; font-weight:bold; }
	
	/* Peter */
	
	.float-icons{
		float: right;
	    opacity: 0.4;
	 	filter: alpha(opacity=30); /* use '=' here, not ':' */
	    opacity: 0.30;
	    -moz-opacity: 0.30;
	    -webkit-opacity:.30;
	    padding: 13px 23px 17px 0;
	    width: 39px;
		-webkit-animation: 2s ease 0s normal none 1 glow;
	    animation: 2s ease 0s normal none 1 glow;
	}
	.float-icons:hover{
	    opacity: 1;
	 	filter: alpha(opacity=100); /* use '=' here, not ':' */
	    -moz-opacity: 1.00;
		-webkit-opacity:1.00;
	}
	
	.yellow-twitter{
		width: 39px;
		position:absolute;
		right:73px;
		top:20px;
		z-index:999999;
		opacity: .7;
	  	filter: alpha(opacity=70); /* use '=' here, not ':' */
	    -moz-opacity: .70;
		-webkit-opacity:.70;
		-webkit-animation: yellowglow 23s ease 0s 1 none;
	    animation: yellowglow 23s ease 0s 1 none;
	}
	.yellow-facebook{
		width: 39px;
		position:absolute;
		right:130px;
		top:20px;
		z-index:999999;
		opacity: .7;
	  	filter: alpha(opacity=70); /* use '=' here, not ':' */
	    -moz-opacity: .70;
		-webkit-opacity:.70;
		-webkit-animation: yellowglow 23s ease 0s 1 none;
	    animation: yellowglow 23s ease 0s 1 none;
	}
	.yellow-twitter:hover{
	 	filter: alpha(opacity=100); /* use '=' here, not ':' */
	    -moz-opacity: 1.00;
		-webkit-opacity:1.00;
		opacity: 1;
	}
	.yellow-facebook:hover{
	 	filter: alpha(opacity=100); /* use '=' here, not ':' */
	    -moz-opacity: 1.00;
		-webkit-opacity:1.00;
		opacity: 1;
	}
	.fade, .fade:hover, .fade:focus
	{
	  	filter: alpha(opacity=70); /* use '=' here, not ':' */
	    -moz-opacity: .70;
		-webkit-opacity:.70;
		opacity: .7;
		-webkit-transition: 500ms linear 0s;
		-moz-transition: 500ms linear 0s;
		-o-transition: 500ms linear 0s;
		transition: 500ms linear 0s;
		outline: 0 none;
	}
	.fade:hover, .fade:focus
	{
	  	filter: alpha(opacity=100); /* use '=' here, not ':' */
	    -moz-opacity: 1;
		-webkit-opacity:1;
		opacity: 1;
	}
	
	@keyframes yellowglow
	{
	0% {opacity:0;}
	80% {opacity:0;}
	84% {opacity:1;}
	100% {opacity:.63;}
	}

	@-moz-keyframes yellowglow /* Firefox */
	{
		0% {opacity:0;}
		80% {opacity:0;}
		88% {opacity:1;}
		100% {opacity:.63;}
	}

	@-webkit-keyframes yellowglow /* Safari and Chrome */
	{
		0% {opacity:.3;}
		80% {opacity:0;}
		88% {opacity:1;}
		100% {opacity:.63;}
	}

	@-o-keyframes yellowglow /* Opera */
	{
		0% {opacity:0;}
		80% {opacity:0;}
		84% {opacity:.3;}
		88% {opacity:1;}
		100% {opacity:.63;}
	}
	
    .featurette {	
		margin-top:74px;
		width:1100px;	}
		
	#header{
		background: url("http://petegrimm.com/storyteller/images/70.png") repeat fixed center center transparent;
		height: 49px;
		margin-left: 361px;
		padding-bottom: 15px;
		padding-right:50px;
		padding-top: 10px;
	}
	
	@keyframes fade
	{
	0% {opacity:0;}
	
	100% {opacity:1;}
	}

	@-moz-keyframes fade /* Firefox */
	{
		0% {opacity:0;}
	
		100% {opacity:1;}
	}

	@-webkit-keyframes fade /* Safari and Chrome */
	{
		0% {opacity:0;}
		25% {opacity:.3;}
		84% {opacity:.3;}
		88% {opacity:1;}
		90% {opacity:1;}
		100% {opacity:.70;}
	}

	@-o-keyframes fade /* Opera */
	{
		0% {opacity:0;}
		35% {opacity:1;}
		100% {opacity:.6;}
	}
	
	/* old header 
	#header{
		background: url("http://petegrimm.com/storyteller/images/70.png") repeat fixed center center transparent;
		padding-bottom: 15px;
		padding-top: 10px;
		padding-left: 90px;
	}*/ 
	
	.borderless {
		border:none;
	}
	
	#logo {
	    left: 0;
	    position: absolute;
	    top: 0;
	}
	
/* non-transparent logo	#logo {
	    margin-left:5px;
		padding-top:6px;
		height:41px;
	}
	*/
	.clickhere {
		 height: 8px;
	   	 left: 303px;
	         position: absolute;
		 top: 19px;
	}
	
	.nyc {
	     color: yellow;
		 cursor: pointer;
		 display: none;
	     margin-left:10px;
	     opacity:.9;
		 filter: alpha(opacity=9); /* use '=' here, not ':' */
		 -moz-opacity: 0.9;
		 font: 16px "Oswald",Helvetica,Arial,sans-serif;
		 text-transform: uppercase;
		 -webkit-transition: 0.4s all ease;
		 -moz-transition: 0.4s all ease;
		 -o-transition: 0.4s all ease;
		 transition: 0.4s all ease;
	}
	.nyc:hover{
	     opacity:1;
	     color:yellow;
		 text-shadow: 0 0 4px yellow;
	}
	.i-slide {
		display:none;
		margin-top:-31px;
	}
	.media-btn {
		padding: 5px 9px 0 0;
		float:right;
 		width: 27px;
	}
	.color{  
		color:#F7FE2E;
	}
	.arrow{
		margin-left:-30px;
		margin-top:6px;
		position:absolute;
		width:20px;
	}
	.marginless{
		margin-left:0px;
	}
