<!DOCTYPE html>
<html>
<head>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Buenard:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
  <script src="http://phpwcms.googlecode.com/svn-history/r410/trunk/template/lib/jquery/plugin/jquery.easing.min.js"></script>

  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title>Storyteller</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <link rel="shortcut icon" href="favicon.ico?v=2">



</head>
<body>

<%= yield %>

</body>
</html>
